* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .row{
    margin-right: 0;
  } 

 .div-title{
    background-color: #F08080;
  }

  i{
    font-size: 1.7em;
  }

  


/* CSS */
.btn-form{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 2px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-form:after {
  content: "";
  background-color: #F08080;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btn-form:hover:after {
  top: 0px;
  left: 0px;
  
}

@media (min-width: 768px) {
  .btn-form {
    padding: 13px 50px 13px;
  }
}

  /* .card{
    height: 350px;
    width: 290px;
  }
  .card-imagen,.card-body{
    height: 100px;
   
  }

  .card-imagen img{
    max-width: 100%;
  }
  .card-body{
    position: absolute;
    left: 0;
    top: 100%;
    transform: translate(0,-100%);
  }

  .div-h1{
    background-color: blueviolet;
  }

  .row{
    margin-right: 0;
  } */